body {
  background-color: #9eddff;
}

.text-navbar {
  color: white;
}

.jumbotron {
  padding-top: 3rem;
  background-color: #def9f5;
}

#proyek {
  background-color: #def9f5;
}

#kontak {
  background-color: #def9f5;
}

.textali {
  text-decoration: none;
}

section {
  padding-top: 5rem;
}

.kirim {
  background-color: #6499e9;
}

.loading {
  background-color: #6499e9;
}

.alert-success {
  background-color: #abf19f;
}

.btn-primary {
  background-color: #6499e9;
}